/scala/*/.exercism
/scala/*/.metals
/scala/*/.vscode
/scala/*/.bloop
/scala/*/project
/scala/*/target
/scala/*/.scalafmt.conf
/cpp/*/.exercism
/cpp/*/.idea
/cpp/*/cmake-build-debug
/elm/*/elm-stuff
/elm/*/.exercism
/elm/*/review
/clojure/*/.exercism
/clojure/*/.lsp
/clojure/*/.target/*
/elixir/*/.exercism
/java/*/.gradle
/java/*/build
/java/*/.exercism
/java/*/.idea
/fsharp/*/.exercism
/fsharp/*/obj
/ruby/*/.exercism
/ruby/*/.idea
.vscode
.metals
.fake
.ionide