/scala/*/.exercism
/scala/*/.metals
/scala/*/.vscode
/scala/*/.bloop
/scala/*/project
/scala/*/target
/scala/*/.scalafmt.conf
/cpp/*/.exercism
/cpp/*/.idea
/cpp/*/cmake-build-debug
/elm/*/elm-stuff
/elm/*/.exercism
/elm/*/review
/clojure/*/.exercism
/clojure/*/.lsp
/clojure/*/.target/*
/elixir/*/.exercism
.vscode
.metals
.fake
.ionide